
@{ 
    ViewData["Title"] = "Mario's Marketplace ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-block">
        <h3 class="card-title">Recently Added Products</h3>
	 
	</div>
</div>